name: build

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      PYTHONIOENCODING: utf-8
      PYTHONOPTIMIZE: 1
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          # - macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
          cache: pip
          cache-dependency-path: requirements-build.txt
      - name: Install pip dependencies
        run: pip install -U -r requirements-build.txt
      - name: Cache font
        uses: actions/cache@v2
        id: cache-font
        with:
          path: .font
          key: ${{ runner.os }}-font
      - name: Download font
        if: steps.cache-font.outputs.cache-hit != 'true'
        run: |
          mkdir .font
          curl https://mirrors.cloud.tencent.com/adobe-fonts/source-han-serif/OTF/SimplifiedChinese/SourceHanSerifSC-Medium.otf --no-progress-meter --output .font/SourceHanSerifSC-Medium.otf
      - name: Generate font subset
        run: python tool/generate-font-subset.py "**/*.py" .font/SourceHanSerifSC-Medium.otf font/SourceHanSerifSC-Medium.otf
      - name: Setup UPX
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            choco install upx --no-progress
          elif [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt install upx-ucl
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install upx
          fi
      - name: Set vars
        id: vars
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            ext=".exe"
          elif [ "$RUNNER_OS" == "Linux" ]; then
            ext=""
          elif [ "$RUNNER_OS" == "macOS" ]; then
            ext=""
          fi
          echo "::set-output name=ext::${ext}"
          echo "::set-output name=executableName::striker-$(date +%Y%m%d-%H%M%S)-$(git rev-parse --short HEAD)-${{ runner.os }}${ext}"
      - name: Build executable
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            export pyiSeparator=";"
          fi
          bash build.sh
          mv dist/striker${{ steps.vars.outputs.ext }} dist/${{ steps.vars.outputs.executableName }}
          ls -l dist
          openssl sha256 dist/${{ steps.vars.outputs.executableName }}
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: striker-${{ runner.os }}
          path: dist/${{ steps.vars.outputs.executableName }}
